Kali Linux Part1.mp4
Parrot Part1.mp4
Solutie-software-pentru-instruirea-angajatilor-privind-securitatea-cibernetica-pe-nave-comerciale.docx
Solutie-software-pentru-instruirea-angajatilor-privind-securitatea-cibernetica-pe-nave-comerciale.pdf
Solutie-software-pentru-instruirea-angajatilor-privind-securitatea-cibernetica-pe-nave-comerciale.pptx
Ubuntu_Part1.mp4
Windows10_Part1.mp4
